<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>878297008643-ep4d9029794vbqgrljh86jrhts7sc3pp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.878297008643-ep4d9029794vbqgrljh86jrhts7sc3pp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>878297008643-5qi5o4s26s75gjfg4aka9n96udfjbiqm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBOwQzMWoPC56cLru0NVOKWe5Ce9KhYIDQ</string>
	<key>GCM_SENDER_ID</key>
	<string>878297008643</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.diaexpres.com</string>
	<key>PROJECT_ID</key>
	<string>diaexpress-d601a</string>
	<key>STORAGE_BUCKET</key>
	<string>diaexpress-d601a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:878297008643:ios:e3076022b21db718b09c36</string>
	<key>DATABASE_URL</key>
	<string>https://diaexpress-d601a-default-rtdb.firebaseio.com</string>
</dict>
</plist>